replicaCount: 2

image:
  repository: hacking9/juice-shop
  pullPolicy: IfNotPresent
  tag: "dev-32b2e95"

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""


service:
  type: ClusterIP
  port: 3000


app:
  ingress:
    enabled: true
    className: nginx
    host: juice-shop.com
    tls:
      - secretName: juice-shop-tls
        hosts:
          - juice-shop.com

argocd:
  ingress:
    enabled: true
    className: nginx
    host: argocd.juice-shop.com
    tls:
      - secretName: argocd-server-tls
        hosts:
          - argocd.juice-shop.com

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

securityContext:
  runAsNonRoot: true
  runAsUser: 65532
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL


livenessProbe:
  httpGet:
    path: /
    port: 3000
readinessProbe:
  httpGet:
    path: /
    port: 3000

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 4
  targetCPUUtilizationPercentage: 80

