replicaCount: 2

image:
  repository: ghcr.io/knightcrawlerr/juice-shop
  pullPolicy: Always
  tag: "sha-b814c3641616d8a7555bfdecf5c38e3c9a2345fe"

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

service:
  type: ClusterIP
  port: 3000

networkPolicy:
  enabled: true

app:
  ingress:
    enabled: true
    className: nginx
    host: juice-shop.com
    tls:
      - secretName: juice-shop-tls
        hosts:
          - juice-shop.com

argocd:
  ingress:
    enabled: true
    className: nginx
    host: argocd.juice-shop.com
    tls:
      - secretName: argocd-server-tls
        hosts:
          - argocd.juice-shop.com

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

securityContext:
  runAsNonRoot: true
  runAsUser: 65532
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

livenessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 15
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 15
  periodSeconds: 10

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 4
  targetCPUUtilizationPercentage: 80
